langchain
langchain-core
langchain-community
langchain-text-splitters
langgraph
pinecone
langchain-pinecone
langgraph-checkpoint-postgres
psycopg[binary]
langchain-openai
fastapi
uvicorn[standard]
python-dotenv
pydantic